In [2]:
# !pip install mysql-connector

In [5]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",

database = "pythonclass4pm"
)
db = database.cursor()

 # Read data from database

In [6]:
sql = "SELECT * from student"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Hari', 78, 58, 90, 89, 78, 300, 78.0, 'P'), (2, 'Ram', 89, 90, 87, 88, 91, 410, 87.0, 'P')]

In [7]:
sql = "SELECT sn,name,total,grade from student"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Hari', 300, 'P'), (2, 'Ram', 410, 'P')]

In [8]:
sql = "SELECT * from student WHERE grade = 'P'"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Hari', 78, 58, 90, 89, 78, 300, 78.0, 'P'), (2, 'Ram', 89, 90, 87, 88, 91, 410, 87.0, 'P')]

# Insert in database

In [9]:
sql = '''INSERT INTO `student` (`name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) 
VALUES ('Gita', '89', '88', '89', '92', '98', '230', '91', 'P');'''

db.execute(sql)
database.commit()

In [10]:
# WAP to take input from user & insert it into database (use string formatting)

# sql = '''INSERT INTO `student` (`name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) 
# VALUES ({info});'''

In [11]:
sql = '''INSERT INTO `student` (`name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) 
VALUES ('Sita_Gita', '89', '88', '89', '92', '98', '230', '91', 'P');'''

db.execute(sql)
database.commit()

# Update

In [13]:
sql = "UPDATE student SET `name` = 'Sita Gita' WHERE `student`.`sn` = 5;"
db.execute(sql)
database.commit()

# Delete

In [14]:
sql = "DELETE from student where sn=5"
db.execute(sql)
database.commit()