In [1]:
# Dictionary
# indexed 
# multiple & duplicate value
# ordered 
# mutable


# no concatenation in curly bracket 
# no multiple key , it will update

In [2]:
# a = dict()
a = {'a':"apple","b":"ball","c":"cat"}
print(type(a))

<class 'dict'>

In [3]:
a = {'a':"apple","b":"ball","c":"cat"}
print(len(a))
print(a['c'])
print(a)

3
cat
{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [4]:
a = {}
a['a'] = "apple"
a['b'] = "ball"
a['c'] = "cat"
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [1]:
n = int(input("Enter n: "))
info = {}
for i in range(n):
    name = input("Enter name: ")
    phone = int(input("Enter phone no: "))
    info[name] = phone

print(info)

Enter n: 2
Enter name: ram
Enter phone no: 123
Enter name: shyam
Enter phone no: 456
{'ram': 123, 'shyam': 456}

In [2]:
# printing only the key

a = {'ram': 123, 'shyam': 456}
for i in a:
    print(i)

ram
shyam

In [4]:
# printing only the value

a = {'ram': 123, 'shyam': 456}
for i in a.values():
    print(i)

123
456

In [5]:
# printing the key & value

a = {'ram': 123, 'shyam': 456}
for i in a.items():
    print(i)

('ram', 123)
('shyam', 456)

In [7]:
# converting tuple inside tuple to dictionary

d = (('ram', 123), ('shyam', 456))
# dict(d)
a = dict(d)
print(d)
print(a)

(('ram', 123), ('shyam', 456))
{'ram': 123, 'shyam': 456}

In [8]:
# converting list inside list to dictionary

d = [['ram', 123], ['shyam', 456]]
dict(d)

{'ram': 123, 'shyam': 456}

In [9]:
# updating the value of dictionary

a = {'ram': 123, 'shyam': 456}
print(a['ram'])
a['ram'] = 789 
print(a)

123
{'ram': 789, 'shyam': 456}

In [10]:
# deleting the value
# pop()
# del

In [11]:
a = {'ram': 123, 'shyam': 456}
b = a.pop("ram")
print(a)
print(b)

{'shyam': 456}
123

In [12]:
a = {'ram': 123, 'shyam': 456}
del a["ram"]
print(a)

{'shyam': 456}

In [13]:
# no concatenation

a = {'ram': 123, 'shyam': 456}
b = {'sita': 567 }
c = a+b 
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [14]:
a = {'ram': 123, 'shyam': 456, 'ram': 567}
print(a)

{'ram': 567, 'shyam': 456}

# list inside dictionary

In [18]:
info = {'Name':["Ram","Shyam","Hari"],
       'Age':[24,25,26],
       'Address':["ktm",'bkt','Ltr']}
print(info)

{'Name': ['Ram', 'Shyam', 'Hari'], 'Age': [24, 25, 26], 'Address': ['ktm', 'bkt', 'Ltr']}

In [24]:
n = int(input("Enter integer value: "))
n1 = []
a1 = []
# d = {'Name':[],'Age':[]}
d = {}
for i in range(n):
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    n1.append(name)
    a1.append(age)

d = {'Name':n1,'Age':a1}
print(d)

Enter integer value: 2
Enter your name: ram
Enter your age: 12
Enter your name: shyam
Enter your age: 23
{'Name': ['ram', 'shyam'], 'Age': [12, 23]}

In [ ]:
# sir solution 

info = {'Name':[],'Age':[]}
n = int(input("Enter integer value: "))
for i in range(n):
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    info['Name'].append(name)
    info['Age'].append(age)
    
print(info)

# dict inside list

In [17]:
info = [{'name':'Ram','age':45,'add':'ktm'},
       {'name':'Shyma','age':43,'add':'bkt'},
       {'name':'hari','age':56,'add':'ltr'}]
print(info)

[{'name': 'Ram', 'age': 45, 'add': 'ktm'}, {'name': 'Shyma', 'age': 43, 'add': 'bkt'}, {'name': 'hari', 'age': 56, 'add': 'ltr'}]

In [23]:
info = []
n = int(input("Enter n: "))
for i in range(n):
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    d = {'name':name,'age':age}
    info.append(d)

print(info)

Enter n: 2
Enter your name: ram
Enter your age: 1234
Enter your name: shyam
Enter your age: 34
[{'name': 'ram', 'age': 1234}, {'name': 'shyam', 'age': 34}]