In [2]:
# Python collection --> list , tuple , dict, set

In [4]:
# List
# -Indexing
# -Ordered 
# -Multiple & Duplicate data
# -Mutable

In [1]:
# l = list()
l = [1,2,3,4,5]
a = ["apple", "banana", "cat", "dog"]
print(type(l))
print(type(a))
print(a[0])

<class 'list'>
<class 'list'>
apple

In [2]:
a = ["iron", "thor", "arrow", "hawk","hulk","captian"]
print(a[0])
print(a[0:5])
print(a[0:5:2])

iron
['iron', 'thor', 'arrow', 'hawk', 'hulk']
['iron', 'arrow', 'hulk']

In [3]:
a = ["iron", "thor", "arrow", "hawk","hulk","captian"]
print(a*2)

['iron', 'thor', 'arrow', 'hawk', 'hulk', 'captian', 'iron', 'thor', 'arrow', 'hawk', 'hulk', 'captian']

In [4]:
a = ["iron", "thor", "arrow", "hawk","hulk","captian"]
for i in a:
    print(i,end=' ')

iron thor arrow hawk hulk captian

In [5]:
# append(), insert(), extend()

In [6]:
a = ["iron", "thor", "arrow", "hawk","hulk","captian"]
a.append("ant")
print(a)

['iron', 'thor', 'arrow', 'hawk', 'hulk', 'captian', 'ant']

In [7]:
a = ["iron", "thor", "arrow", "hawk","hulk","captian"]
a.insert(1,"ant")
a

['iron', 'ant', 'thor', 'arrow', 'hawk', 'hulk', 'captian']

In [8]:
a = ["iron", "thor", "arrow", "hawk","hulk","captian"]
b = [1,2,3]
a.extend(b)
print(a)

['iron', 'thor', 'arrow', 'hawk', 'hulk', 'captian', 1, 2, 3]

In [9]:
a = ["iron", "thor", "arrow", "hawk","hulk","captian"]
a

['iron', 'thor', 'arrow', 'hawk', 'hulk', 'captian']

In [11]:
l = []
n = int(input("Enter n: "))
for i in range(n):
    x = int(input("Enter x: "))
    l.append(x)

print(l)

Enter n: 3
Enter x: 1
Enter x: 3
Enter x: 5
[1, 3, 5]

In [28]:
print("max value: ", max(l))
print("min value: ", min(l))
print("sum value: ", sum(l))
# print("max value: ", max(l))
# l.sort()
# print(l)
l.reverse()
print(l)

max value:  5
min value:  1
sum value:  9
[1, 3, 5]

In [29]:
a = [2,3,8,7]
a.reverse()
print(a)

[7, 8, 3, 2]

In [30]:
# update
a = ["apple", "ball", "cat", "dog", "ant"]
a[0] = 'Apple'
print(a)

['Apple', 'ball', 'cat', 'dog', 'ant']

In [31]:
# update
a = ["apple", "ball", "cat", "dog", "ant"]
a[0:2] = ['banana','kiwi']
print(a)

['banana', 'kiwi', 'cat', 'dog', 'ant']

In [33]:
# update & add
a = ["apple", "ball", "cat", "dog", "ant"]
a[0:2] = ['banana','kiwi','zebra']
print(a)

['banana', 'kiwi', 'zebra', 'cat', 'dog', 'ant']

In [34]:
# delete
# del, remove(), pop()

In [35]:
# del --> using index 
a = ["apple", "ball", "cat", "dog", "ant"]
del a[0]
print(a)

['ball', 'cat', 'dog', 'ant']

In [36]:
a = ["apple", "ball", "cat", "dog", "ant"]
del a[0:2]
print(a)

['cat', 'dog', 'ant']

In [37]:
# remove  --> by value
a = ["apple", "ball", "cat", "dog", "ant"]
a.remove("ball")
print(a)

['apple', 'cat', 'dog', 'ant']

In [42]:
# pop 
a = ["apple", "ball", "cat", "dog", "ant"]
l = a.pop()
print(a)
print(l)

a = ["apple", "ball", "cat", "dog", "ant"]
l = a.pop(0)
print(a)
print(l)

['apple', 'ball', 'cat', 'dog']
ant
['ball', 'cat', 'dog', 'ant']
apple

In [41]:
# clear() --> to delete the entire itmes of the list
a = ["apple", "ball", "cat", "dog", "ant"]
a.clear()
print(a)

[]

In [1]:
# ----> to delete the entire item & variable as well of the list

# a = ["apple", "ball", "cat", "dog", "ant"]
# del a
# print(a) --> gives error

In [2]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [3]:
a = [["Ram",34,"Kathmandu"],["Shyam",45,"Bhaktapur"],["Hari",56,"Lalitpur"]]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]

In [5]:
n = int(input("Enter n: "))
l = []
for i in range(n):
    name = input("Enter name: ")
    age = int(input("Enter age:"))
    add = input("Enter address: ")
    l.append([name,age,add])

print(l)

Enter n: 2
Enter name: Ram
Enter age:24
Enter address: ktm
Enter name: hari
Enter age:30
Enter address: bkt
[['Ram', 24, 'ktm'], ['hari', 30, 'bkt']]

In [6]:
a = [['Ram', 24, 'ktm'], ['hari', 30, 'bkt']]
print(a[0])
print(a[0][1])

['Ram', 24, 'ktm']
24

In [7]:
a = [['Ram', 24, 'ktm'], ['hari', 30, 'bkt']]
a.append(['shyam',25,'laltipur'])
a

[['Ram', 24, 'ktm'], ['hari', 30, 'bkt'], ['shyam', 25, 'laltipur']]

In [11]:
#search
a = [['Ram', 24, 'ktm'],['shyam', 25, 'laltipur'], ['hari', 30, 'bkt']]
name = input("Enter name: ")
for i in a:
    if name in i:
        print(i)

Enter name: 24

In [13]:
a = [['Ram', 24, 'ktm'],['shyam', 25, 'laltipur'], ['hari', 30, 'bkt']]
# add = input("Enter add ")
# a[0][2] = add
a[0][2] = input("Enter add: ")
print(a)

Enter add: jhapa
[['Ram', 24, 'jhapa'], ['shyam', 25, 'laltipur'], ['hari', 30, 'bkt']]

In [1]:
a = [['Ram', 24, 'ktm'],['shyam', 25, 'laltipur'], ['hari', 30, 'bkt']]
name = input("Enter name: ")
# a = 0
for i in a:
    if name.lower() == i[0].lower():
        print(i)
#     a += 1

Enter name: ram
['Ram', 24, 'ktm']