In [1]:
# Set 
# - no indexing
# - undordered
# - multiple but no duplicate date
# - mutable

In [4]:
s = {'Apple','Ball','Cat','Dog','Fish'}
print(s)

{'Ball', 'Cat', 'Fish', 'Apple', 'Dog'}

In [5]:
# no indexing
s = {'Apple','Ball','Cat','Dog','Fish'}
print(s[0])

TypeError: 'set' object is not subscriptable

In [6]:
s = {'Apple','Ball','Cat','Dog','Fish','Apple'}
print(s)

{'Ball', 'Cat', 'Fish', 'Apple', 'Dog'}

# no concatenation

In [8]:
a = {1,2,3,4}
b = {5,6,7,8}
c = a+b
print(c)

# no concatenation but can use update() function

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
a = {1,2,3,4}
print(a*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [12]:
s = {}
print(type(s))

a = {1}
print(type(a))

b = set()
print(type(b))

<class 'dict'>
<class 'set'>
<class 'set'>

In [2]:
# add()

s = set()
s.add("Apple")
s.add("Ball")
print(s)

{'Ball', 'Apple'}

In [4]:
# update()

a = {1,2,3,4}
b = {5,6,7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
# remove()

a = {'Ball','Apple'}
a.remove("Apple")
a

{'Ball'}

In [6]:
# if to remove duplicate value from list ,convert it to set & again to list(as set doesnot support duplicate values)

a = [1,2,3,5,2,3,5,6,7,8.6]
a = list(set(a))
print(a)

# output is not sorted (as seen), but string doesnot hold true so it's not sorting

[1, 2, 3, 5, 6, 7, 8.6]

In [8]:
# No mutable data inside set
# i.e. no list, dict,set,dictionary can be present inside set 

# as tuple is mutable so it can be present inside
# immuatble or static data can be present inside set

a = {(1,2,3),(4,5,6)}
print(a)

{(1, 2, 3), (4, 5, 6)}

# operations in set (union, inter, diffr, only,...)

In [21]:
U = {'Altman', 'John', 'Rakesh', 'Bill', 'Satya', 'Jobs', 'Ram', 'Mike', 'Ramesh','Hari','Shyam'}

apple = {'Ram','Jobs', 'Mike', 'John', 'Rakesh', 'Ramesh'}
ms = {'Bill','Satya', 'Ram', 'John', 'Mike', 'Altman'}

# intersection 
i = apple.intersection(ms)
print(i)
print("\n")


# union
un = apple.union(ms)
print(un)
print("\n")


# only apple
print(apple-ms)
print(apple.difference(ms))
print("\n")

# print(only(apple))
print(ms-apple)
print(ms.difference(apple))
print("\n")


#unemployed
print(U-un)

{'John', 'Ram', 'Mike'}


{'Altman', 'John', 'Rakesh', 'Bill', 'Satya', 'Jobs', 'Ram', 'Mike', 'Ramesh'}


{'Ramesh', 'Rakesh', 'Jobs'}
{'Ramesh', 'Rakesh', 'Jobs'}


{'Altman', 'Bill', 'Satya'}
{'Altman', 'Bill', 'Satya'}


{'Hari', 'Shyam'}