In [1]:
s = "Hello World"
print(type(s))

<class 'str'>

In [2]:
a = "Hello World"
b = 'Hello World'
c = '''Hello World'''
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [4]:
a = 'Hello World'
print(a*2)

b = "abc\n"
print(b*2)

Hello WorldHello World
abc
abc

In [5]:
for i in a:
    print(i, end="")

Hello World

In [6]:
a = "Hello World I am Python"
print(a[0])        # indexing
print(a[0:5])      # slicing
print(a[0:10:2])   # slicing

H
Hello
HloWr

In [13]:
a = "Python"
print(a[-1])
print(a[::-1])

n
nohtyP

In [16]:
a = "Python"
l = len(a)
for i in range(l):
    print(a[i],end="")

Python

In [1]:
a = "Python"
l = len(a)
i = 0
while(i<l):
    print(a[i],end="")
    i += 1

Python

In [3]:
# WAP to create a billing system
# name , price, qty, total

In [2]:
n = int(input("Enter the count of items: "))
i = 0
while(i<n):
    name = input("\nEnter the name of product: ")
    price = int(input(f"Enter the unit price of {name} : "))
    qty = int(input(f"Enter the quantity of {name}: "))
    total = price*qty
    print("\nDetails")
#     print(f"S.no\tProduct Name\tPrice\tQuantity\tTotal")
    print("Product name: ",name,"\nPrice: ",price,"\nQuantity: ",qty,"\nTotal Price: ", total)
#     print(f"{i+1}\t{name}\t\t{price}\t{qty}\t\t{total}")
#     print(f"Product name:{name})
    i += 1

Enter the count of items: 2

Enter the name of product: apple
Enter the unit price of apple : 50
Enter the quantity of apple: 12

Details
Product name:  apple
Price:  50
Quantity:  12
Total Price:  600

Enter the name of product: banana
Enter the unit price of banana : 10
Enter the quantity of banana: 30

Details
Product name:  banana
Price:  10
Quantity:  30
Total Price:  300

In [7]:
info = ""
n = int(input("Enter the count of items: "))
i = 0
while(i<n):
    name = input("\nEnter the name of product: ")
    price = int(input(f"Enter the unit price of {name} : "))
    qty = int(input(f"Enter the quantity of {name}: "))
    total = price*qty
    info = info + f"{i+1}\t{name}\t{price}\t{qty}\t\t{total}\n"
    i += 1

print("\nDetails")
print(f"S.no\tProduct Name\tPrice\tQuantity\tTotal")
print(info)

Enter the count of items: 1

Enter the name of product: appa
Enter the unit price of appa : 89
Enter the quantity of appa: 29

Details
S.no	Product Name	Price	Quantity	Total
1	appa	89	29		2581

# searching in string

In [1]:
info = "Ram Shyam Hari Sita Gita Ramesh"
print(info)

Ram Shyam Hari Sita Gita Ramesh

In [5]:
info = "Ram Shyam Hari Sita Gita Ramesh"
name = "Ram"
if name in info:
    print("Yes")
    print(info.count(name))   # Ramesh -> Ram... is also counted
#     print(name)

Yes
2

In [6]:
# case sensitive case

info = "Ram Shyam Hari Sita Gita Ramesh"
name = input("Enter name: ")
if name in info:
    print("Yes")
    print(info.count(name)) 
else:
    print("There is no any", name)

Enter name: ram
There is no any ram

In [10]:
info = "Ram Shyam Hari Sita Gita Ramesh"
print(info.upper())
print(info.lower())

RAM SHYAM HARI SITA GITA RAMESH
ram shyam hari sita gita ramesh

In [11]:
# removing case-sensitive cases

info = "Ram Shyam Hari Sita Gita Ramesh".lower()
name = input("Enter name: ").lower()
if name in info:
    print("Yes")
    print(info.count(name)) 
else:
    print("There is no any", name)

Enter name: ram
Yes
2

# changing string to list using split()

In [14]:
info = "Ram Shyam Hari Sita Gita Ramesh"
# info.split('_')
info.split(' ')

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh']

In [15]:
info = 'apple 400 3 1200\nBanana 200 3 600\n'
print(info)

apple 400 3 1200
Banana 200 3 600

In [17]:
info = 'apple 400 3 1200\nBanana 200 3 600\n'
a = info.split('\n')[:-1]
print(a)

['apple 400 3 1200', 'Banana 200 3 600']

In [18]:
bill_list = []
for i in a:
    bill_list.append(i.split())

bill_list

[['apple', '400', '3', '1200'], ['Banana', '200', '3', '600']]