In [2]:
# Tuple
# -Indexing
# -Ordered
# -Multiple & duplicate data
# -Imutable

In [3]:
# a = tuple() --> small bracket

In [4]:
a = (1,2,3,4,5)
b = ("apple","ball","cat","dog")
print(a)
print(b)

print(type(a))
print(type(b))

(1, 2, 3, 4, 5)
('apple', 'ball', 'cat', 'dog')
<class 'tuple'>
<class 'tuple'>

In [5]:
b = ("apple","ball","cat","dog")
print(b[0])

apple

In [6]:
# - No append(), extend(), insert()
# - No update
# - No del pop(), remove()
# - No sort()

In [7]:
x = (1)
y = ("apple")
z = (1,)

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'tuple'>

In [8]:
a = (1,2,3)
b = (4,5,6)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [10]:
a = (1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [15]:
a = ()
n = int(input("Enter n: "))
for i in range(n):
    x = int(input("Enter x: "))
#     a = a + x --> not valid 
    a = a + (x,)

print(a)

Enter n: 2
Enter x: 123
Enter x: 456
(123, 456)

In [14]:
a = "Hello"
b = "world"

tuple(a)
# print(a)

list(b)
# print(b)

# x = ("Hello")
# y = ["world"]

# print(x)
# print(y)

['w', 'o', 'r', 'l', 'd']

In [16]:
a = (12,57,27,39,56)
print(min(a))
print(max(a))
print(sum(a))

12
57
191

In [18]:
# converting tuple into list, doing operation , & again changing back to tuple
# as direct operation on tuple is not possible
a = (1,2,3)
b = list(a)
print(b)
del b[0]
a = tuple(b)
print(a)

[1, 2, 3]
(2, 3)

In [19]:
# tuple inside list
a = [(1,2),(3,4),(5,6)]
print(a)

[(1, 2), (3, 4), (5, 6)]

In [20]:
# list inside tuple
a = ([1,2],[3,4],[5,6])
print(a)

([1, 2], [3, 4], [5, 6])

In [21]:
# tuple inside tuple 
a = ((1,2,3), (4,5,6), (7,8,9))
print(a)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [25]:
# a = (('Ram', 24, 'ktm'),('shyam', 25, 'laltipur'), ('hari', 30, 'bkt'))
n = int(input("Enter integer: "))
a = ()
for i in range(n):
    name = input("Enter your name: ")
    age = int(input("Enter your age: "))
    add = input("Enter your address: ")
    a += ((name,age,add),)
print(a)

Enter integer: 2
Enter your name: ram
Enter your age: 24
Enter your address: ktm
Enter your name: hari
Enter your age: 45
Enter your address: bkt
(('ram', 24, 'ktm'), ('hari', 45, 'bkt'))